* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#js-select {
  position: absolute;
  top: 10%;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 0 #fff;
}
